{% extends 'layout.html' %}
{% load static %}
{% block title %}
Order Placed
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'products\order.css' %}">
{% endblock %}
   
    {% block content %}
    <main>
       <h1>Order Placed</h1>
      <div class="d1">
        <p><strong>Name:</strong> {{ order.productid.productname }}</p>
        <p><strong>Category:</strong> {{ order.productid.productcate }}</p>
        <p><strong>Brand:</strong> {{ product.productid.brand }}</p>
        <p><strong>Model:</strong> {{ product.model }}</p>
        <p><strong>Price:</strong> ₹{{ product.price }}</p>
        <p><strong>Features:</strong> {{ product.productid.description }}</p>

        {% if product.image %}
        <img src="{{ product.image.url }}" alt="Product Image" />
        {% else %}
        <img src="https://via.placeholder.com/200?text=No+Image" alt="No Image" />
        {% endif %}


      </div>
      

      <div class="back-btn">
        <a href="/homepage"><button type="button">Back</button></a>
      </div>
    </main>
{% endblock %}