{% extends 'layout.html' %}
{% load static %}
{% block title %}
View Products
{% endblock %}
   {% block extra_head %}
   <link rel="stylesheet" href="{% static 'products/viewProduct.css' %}">
  {% endblock %}


   
  {% block content %}
       
     
    
  
        {% include 'side.html ' %}
        {% if request.user.role == 'retailer' %}
          <div class="nota" > 
    <a href="/product/request" > <button>Not Available ?</button></a>
    </div>
    {% endif %}

      <div class="products-grid">
  
        {% for pro in products %}
        <div class="card">
          {% if pro.image %}
          <img src="{{ pro.image.url }}" alt="{{ pro.productname }}" />
          {% else %}
          <img
            src="https://via.placeholder.com/300x180?text=No+Image"
            alt="No Image"
          />
          {% endif %}
       <p><strong>Name:</strong>   <a href="{% url 'productdetail' pro.id %}">{{ pro.productname }}</a> </p>
     ₹{{ pro.price }}
        <p><strong>Store:</strong> {{ pro.shopid.shopname }}</p>
          <p><strong>Brand:</strong> {{ pro.brand }}</p>

          {% if not request.user.is_superuser %}
          <div class="actions">
            <form method="POST" action="{% url 'addShopProduct' pro.id %}">
              {% csrf_token %}
             
            
            <button type="submit" class="but1">Add</button>
            </form>
          </div>
          
          {% endif %}
        </div>
        {% endfor %}
        {%  if not products %}
        <h1 style="margin-left: 450px;">No Product</h1>
        {% endif %}
        
      </div>
      


     
   
{% endblock %}