{% load static %}


     <link rel="stylesheet" href="{% static 'side.css' %}">
    

    <div class="full">
        <div class="side">
          {% if request.user.role == 'User' %}
          <a href="/product/orderplaced"><button>Order Placed</button></a>
          {% endif %} {% if request.user.role == 'retailer' %}
          <a href="/product/addproducts"><button>Add Products</button></a>
          {% endif %}
          <a href="/product/viewproducts"><button>View Products</button></a>

          {% if request.user.role == 'retailer' %}
          <a href="/product/viewFeedback"><button>View Feedback</button></a>
          {% endif %} {% if request.user.is_superuser %}
          <a href="/product/viewComplaint"><button>Complaints</button></a>
          <a href="/product/viewShopowner"><button>View Shopowners</button></a>
          <a href="/product/viewShopuser"><button>View ShopUsers</button></a>
          {% endif %} {% if not request.user.is_superuser %}
          <a href="{% url 'complaint' user.id %}"
            ><button>Any complaints</button></a
          >
          <a href="/product/complaintStatus"><button >Complaint status</button></a>
          {% endif %}
        </div>
